@media (max-width: 1199px) {
    body {
        min-height: 600px;
    }
    h1 {
        font-size: 24px;
    }
    h2,
    .social .fa {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    h4,
    p {
        font-size: 14px;
    }
    .card {
        padding: 50px 50px 0px;
    }
}

@media (max-width: 1199px) {
    .photo-bg {
        min-height: calc(100vh - 500px);
    }
}

@media(max-width:991px) {
    .photo-bg {
        background-position: top;
        min-height: calc(90vh - 440px);
    }
}

@media(max-width: 767px) {
    .container {
        position: relative;
        top: 0;
        transform: translateY(0);
    }
    .photo-bg {
        height: 180px;
    }
    .card {
        padding: 20px;
    }
    #kaygb-blog-a,
    #kaygb-mail-a {
        display: block;
    }
    #kaygb-blog,
    #kaygb-mail {
        display: none;
    }
}

#frame {
    width: 50%;
    height: 50vh;
    margin: 0;
    background: #fff;
    position: fixed;
    z-index: 999;
    top: 5%;
    left: 5%;
}

#aplayer {
    z-index: 20000000;
}
